.form-switch .form-check-input{
    position:absolute;
    right:20px;
}
.custom-control-label{
    position:absolute;
    right:60px;
}
table{
    padding: 100px;
}
    body {
      margin: 0;
      padding: 0;
    }
[data-theme="dark"]{
    background-color: #111 !important;
    color: #ffffff !important; 
  }
.btn-primary
h1 {
    color: #00a79D;
  text-align: center;
}

.intro {
    background-color: #00a79D;
    padding: 50px 0;
}
.intro h2 {
    font-weight: 700;
}
.services {
    padding: 50px 0;
}
.card {
    background: inherit;
    color: inherit;
    margin-bottom: 20px;
    border: none;
}
.card-body {
    text-align: center;
}
.card-title {
    font-weight: 700;
}

.bulu:not(.dropdown-item){
background: #00a79D;
border-radius:10px;
}
a.nav-link.active{
    text-align: center;
}

label {
    font-weight: 500;
}

.form-group {
    margin-bottom: 20px;
}

#calculateButton {
    background-color: #00a79D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}
button.btn{
background-color: #00a79D   ;
width: min-content;
}


tr:nth-child(even) {
background-color: #FFF;
}
tr:nth-child(odd){
    background: lightgrey;
}


@keyframes scrollText {
0% {
transform: translateY(-100%);
}
100% {
transform: translateY(0);
}

}

input[type="number"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00a79D;

    border: none;
    border-radius: 3px;
    cursor: pointer;
}
a.bt{
    background-color: #00a79D;
 
}


        /* GitHub container styles */
        .github-container {
            text-align: center;
            margin-top: 10px;
        }

        /* GitHub profiles section styles */
        .github-section {
            border-radius: 10px;
            text-align: center;
            padding: 20px;
        }

        .github-profile {
            margin-top: 10px;
        }

        .img-github-mark{
            width: 50px;
            height: 50px;
        }
        :root{
            --d:black;
        }


        /* Dark Mode Styles */
.button {
    background-color: #3498db;
    color: #fff;
}

.link {
    color: #1abc9c;
}

/* Borders and Dividers */
.divider {
    border-top: 1px solid #555;
}

/* Hover Effects */
.btn.button:hover {
    background-color: #2980b9;
}

.link:hover {
    color: #16a085;
}

/* Typography */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    font-size: small;
}


form{
    padding-top: 1em;
}


.card {
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {

    padding: 0.5rem;

}

.card-body {
    padding: 0.5rem;
}

.card-footer {

    padding: 0.5rem;

}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-icon-small {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.text-info {
    flex: 1;
}

.additional-info {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}


.vertical-card {
    max-width: 500px; /* Adjust as needed */
    max-height: inherit;
    margin: auto;
}

.forecast-card {
    max-width: fit-content; /* Adjust as needed */

    margin: auto;
}

.forecast-container {
    display: flex;

    overflow-x: auto;

    padding: 0.5rem 0;
}

.forecast-container > div {
    flex: 0 0 auto;
    margin-right: 1rem;

    border-radius: 8px;
    padding: 0.5rem;

}

.forecast-container img {
    width: 30px;
    height: 30px;
}
.card-body iframe {
    width: 100%;
    height: auto;
    max-height: 250px; /* Maintain aspect ratio while keeping it responsive */
}
#clock {
    font-size: 48px;
    color: #333;
}
#date {
    font-size: 24px;
    color: #666;
}

#animate{
    animation: ease-in  5s normal;
}

#clock {
    font-size: 48px;
    color: #333;
}
#date {
    font-size: 24px;
    color: #666;
}

#animate{
    animation: ease-in  5s normal;
}