.form-switch .form-check-input{
    position:absolute;
    right:20px;
}
.custom-control-label{
    position:absolute;
    right:60px;
}
table{
    padding: 100px;
}
    body {
      margin: 0;
      padding: 0;
    }
[data-theme="dark"]{
    background-color: #111 !important;
    color: #ffffff !important; 
  }
.btn-primary
h1 {
    color: #d67e0a;
  text-align: center;
}

.intro {
    background-color: #d67e0a;
    padding: 50px 0;
}
.intro h2 {
    font-weight: 700;
}
.services {
    padding: 50px 0;
}
.card {
    background: inherit;
    color: inherit;
    margin-bottom: 20px;
    border: none;
}
.card-body {
    text-align: center;
}
.card-title {
    font-weight: 700;
}

.bulu:not(.dropdown-item){
background: #d67e0a;
border-radius:10px;
}
a.nav-link.active{
    text-align: center;
}

label {
    font-weight: 500;
}

.form-group {
    margin-bottom: 20px;
}

#calculateButton {
    background-color: #d67e0a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}



tr:nth-child(even) {
background-color: #FFF;
}
tr:nth-child(odd){
    background: lightgrey;
}


@keyframes scrollText {
0% {
transform: translateY(-100%);
}
100% {
transform: translateY(0);
}

}

input[type="number"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d67e0a;

    border: none;
    border-radius: 3px;
    cursor: pointer;
}
a.bt{
    background-color: #d67e0a;
 
}


        /* GitHub container styles */
        .github-container {
            text-align: center;
            margin-top: 10px;
        }

        /* GitHub profiles section styles */
        .github-section {
            border-radius: 10px;
            text-align: center;
            padding: 20px;
        }

        .github-profile {
            margin-top: 10px;
        }

        .img-github-mark{
            width: 50px;
            height: 50px;
        }
        :root{
            --d:black;
        }


        /* Dark Mode Styles */
.button {
    background-color: #3498db;
    color: #fff;
}

.link {
    color: #1abc9c;
}

/* Borders and Dividers */
.divider {
    border-top: 1px solid #555;
}

/* Hover Effects */
.button:hover {
    background-color: #d67e0a;
}

.link:hover {
    color: #d67e0a;
}

/* Typography */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

